PORT=5000
NODE_ENV=production
SUPABASE_URL=https://ihrvcqyqgwftflrdijjf.supabase.co
SUPABASE_ANON_KEY=sb_publishable_cofgHh5KM2fNHw1rUtD_gg_jZnanXGf
SUPABASE_SERVICE_ROLE_KEY=sb_secret_RKMrmaaEjBTZQrpsl0CsPw_ukisAD2q
JWT_SECRET=ngo_super_secret_key_2024
JWT_EXPIRE=7d
